
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0;
    margin: 0 ;

}
.app-bar{
    width:100%;
    height:60px;
    background-color:  #00818a;
}
.app-bar-top-strip{
    width: 100%;
    height:15px;
    
    background-color: chocolate;
}
.app-bar img{
    border-radius :50%;
    margin-top:5px;
    margin-left:10px;
}
.app-bar span{
    font-family: 'Satisfy', cursive;
    font-size:1.5rem;
    margin-left: 10px;
    font-weight: 900;
    color:white;
}
/* side bar section*/
#side-bar{
width:20%;
    height:150vh;
    font-size: 1.5rem;
  
    background-image: linear-gradient(to bottom, #00918e,#9be3de);
   
}
#side-bar a{
    display: block;
    text-decoration: none;
    padding:1.5rem 1rem;
    color:black;
    
}
#side-bar a:hover{
    background:#00818a;
    color: white;
}
@media (max-width:562px){
 #side-bar{
     font-size:1.2rem;
 }
}
@media(max-width:800px){
    #side-bar{
        width:30%;
    }
}

/* main section */

#main-section{
    width:80%;
    height:100vh;
    
    
}
.main{
    
    margin-top: 100px;
}
.main-top-bar{
    height:80px;
    width:100%;
    background-image: linear-gradient(to right, #00918e,#9be3de);
}
.main-text{
   
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    background:rgba(0, 0, 0, 0.966);
    color: white;
    letter-spacing: 0.4rem;
    line-height: 2;;
}
.main-bottom-bar{
    height:80px;
    width:100%;
    background-image: linear-gradient(to right, #00918e,#9be3de);
}
@media(max-width:542px){
    .main-text{
        font-size:2rem;
    }
}
@media(max-width:905px)and (min-width:542px){
    .main-text{
        font-size:3rem;
    }
}
@media(max-width:798){
   #main-section{
       margin-left: 20px!important;
   }
}




/* wrapper around two sections */
.wrapper{
    display: flex;
    text-align: center;
  
   
}




/* study */


.study{

    margin-top:10px;
    margin-left:0.7rem;
    margin-right: 0.7rem;
    text-align: center;
    background-color:#beebe9;
    box-shadow: 5px 5px 20px black;
    display: flex;
    justify-content: center;
    padding:1rem 0;
   

    
}
.study:first-child{
    margin-top: 10%;
}
.degree-name{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
.college-name{
    font-family: 'Poppins', sans-serif;
    font-size:1.3rem;
    font-weight: 500;
}
.passout-year{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}


/* experience div */
.experience h3{
    font-family: 'Poppins', sans-serif;
    font-size:1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    background: black;
    color: white;
}
.experience span{
    font-family: 'Poppins', sans-serif;
    font-size:1.5rem;
    font-weight: 400;
}
.experience p{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}
.horizontal-break{
    display: flex;
    justify-content: center;
}
.horizontal-break div{
    margin:5px;
   
}
/* .horizontal-break div:first-child::before{
 content:" ";
 border-top:1px solid #e47312;
 border-left:8px solid #e47312;
 border-right: 8px solid #e47312;
 border-bottom: 1px solid #e47312;
 border-radius: 50%;
}
.horizontal-break div:nth-child(2)::before{
    content:"";
    border-top:1px solid yellow;
    border-left:8px solid yellow;
    border-right: 8px solid yellow;
    border-bottom: 1px solid yellow;
    border-radius: 50%;
   }
   .horizontal-break div:last-child::before{
    content:" ";
    border-top:1px solid green;
    border-left:8px solid green;
    border-right: 8px solid green;
    border-bottom: 1px solid green;
    border-radius: 50%;
   } */


   /* hobbies */
   .hobbies img{
       width:12.5rem;
       height:12.5rem;
       border-radius: 50%;
      /* margin-left:2rem;
       margin-top:1rem; */
       
   }
   .col-md-6{
       padding: 0!important;
       margin: 0!important;
   }
   .row{
       margin:0;
   }

   .hobby{
       margin-top:2rem;
   }
  .description{
    padding:2rem 4rem;
    text-align:left;
    font-size:1.5rem;
  }

  /* contact me */
  
 
  .contact-alignment{
      width:70%;
     
  }
  .img-dim{
      width:5rem;
      height:5rem;
      margin-right: 1rem;

  }
  .first-contact{
      
      text-align: center;
      color:  #00918e;
      margin-top:5rem;
      font-size:1rem;
  }
  .second-contact{
     
      text-align: left;
    text-align: center;
      margin-top:5rem;
      color:  #00918e;
      font-size: 1rem;
  }
  
  @media(max-width:425px){
    .first-contact h3{
        font-size: 0.9rem;
        font-weight: 600;
        line-height: 1.5;
  }
  .second-contact h3{
      font-size:0.9rem;
      font-weight: 600;
      line-height: 1.5; 
  } 
}


/* skills section */
.java{
    margin-top:1rem;
}

.skill-img-height{
    margin-top:1rem;
    margin-bottom: 1rem;
    width:5rem;
    height:5rem;
}
.java p{
    font-family: 'Poppins', sans-serif;
    padding-left:0.5rem;
    width:40%;
    margin:0 auto;
    text-align: left;
    font-size:1.2rem;
    font-weight: 400;
}
.java hr{
    
    width:10%;
    margin:5rem auto ;
    border-top:0.4rem dotted  #00918e ;
}
@media(max-width:745px){
    .java p{
        width:80%;
    }
}